<%- include('../partials/header') %>

<section>
    <div>Airline: <%= flight.airline %></div>
    <div>Airport: <%= flight.airport %></div>
    <div>Flight Num: <%= flight.flightNo %></div>
    <div>Departs: <%= flight.departs %></div>
    <div>
        <% flight.destinations.forEach(function(fd) { %>
            
                <div>Destination Airport: <%= fd.airport %></div>
                <div>Arrival: <%= fd.arrival %></div>
            
            <% }) %>
        </div>
</section>

<section>
    <h3>Final Destination(s)</h3>
        <form id="destinations-form" method="POST" action="/flights/<%= flight._id %>/destinations">
            <label>Arrival:
                <input type="datetime-local" name="arrival">
              </label><br>
            <label>Airport:
                <select name="airport">
                  <option value="LAX">LAX</option>
                  <option value="DBX">DBX</option>
                  <option value="YYZ" selected>YYZ</option>
                  <option value="NYC">NYC</option>
                  <option value="SFO">SFO</option>
                </select>
              </label><br>
              <button type="submit">Add Destinations</button>
        </form>
        
</section>


<%- include('../partials/footer') %>